[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AEDForecasting"]
	path = AEDForecasting
	url = https://github.com/cran/AEDForecasting
	shallow = true
	registered = true
